[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 13.0

[submodule "viernes/account_multi_pay"]
	path = viernes/account_multi_pay
	url = git@github.com:viernes/account_multi_pay.git
	branch = 13.0
